@using PadelStore.ViewModels.Admin
@model IEnumerable<BrandViewModel>

<h2>Brands</h2>

<partial name="_CreateBrandPartial" model="new BrandViewModel()" />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th width="150"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var b in Model)
        {
            <tr>
                <td>@b.Brand</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@b.Id"
                           class="btn btn-danger btn-sm">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}