

<div class="container mt-5 text-center">

    <h2 class="text-success mb-4">
        🎉 Thank you for your order!
    </h2>

    <div class="mt-5">

        <a asp-controller="Order"
               asp-action="MyOrders"
               class="btn btn-outline-primary me-3">
            My Orders
        </a>

        <a asp-controller="Home"
               asp-action="Index"
               class="btn btn-success">
            Back to Home
        </a>

    </div>

</div>