@using PadelStore.ViewModels.Admin
@model IEnumerable<CategoryViewModel>

<h2>Brands</h2>

<partial name="_CreateCategoryPartial" model="new CategoryViewModel()" />

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th width="150"></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var c in Model)
        {
            <tr>
                <td>@c.CategoryName</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@c.Id"
                           class="btn btn-danger btn-sm">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}